* {
  margin: 0;
}

.header {
  align-items: flex-start;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  display: flex;
  height: 100px;
  width: 100%;
}

#title_trybewarts {
  margin-top: -20px;
}

#trybewarts-header-title {
  position: relative;
  color: antiquewhite;
  font-size: 55px;
  top: 25px;
}


#banner {
  display: flex;
  width: 90px;
  margin-top: 3px;
  margin-left: 5px;

}

#inputHeader {
  position: relative;
}

.margen {
  margin: 10px;
}

.quadrados {
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.grupo {
  border: none;
}

#btn {
  color: white;
  background: rgb(38, 1, 93);
  padding-left: 35px;
  padding-right: 35px;
  border: none;
}

#trybewarts-header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50px;
  margin: 0;
}

.trybewarts-login {
  display: flex;
  right: 20px;
  position: relative;
  top: 25px;
}

main {
  display: flex;
  /* background-image: url('./img/hogwarts-castle-harry-potter-osaka.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* height: 100%; */
}

.transparent {
  background: linear-gradient(rgba(248, 246, 246, 0.5), rgba(150, 147, 147, 0.5));
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  margin: 30px 80px;
}

#submit-btn {
  border-radius: 10px;
  border: none;
  background: rgb(38, 1, 93);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#trybewarts-forms-logo {
  /* position: relative; */
  /* top: 25%;
  left: 50%; */
  width: 500px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 1px;
  background-color: rgb(68, 70, 70);
  color: white;
  height: 30px;
}

#texto {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}
